<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675296838791-0drt0iuktpqid4iajfo0i4g37sc9uele.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675296838791-0drt0iuktpqid4iajfo0i4g37sc9uele</string>
	<key>API_KEY</key>
	<string>AIzaSyCfJYG8Y9S23ybCG4r2CbTAsUy9fkYA7q8</string>
	<key>GCM_SENDER_ID</key>
	<string>675296838791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.sparkcars.in</string>
	<key>PROJECT_ID</key>
	<string>sparkcars-38c4c</string>
	<key>STORAGE_BUCKET</key>
	<string>sparkcars-38c4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675296838791:ios:398bd4bfacb3e4a8f7e422</string>
</dict>
</plist>